{% extends 'base.html' %}

{% block content %}

<table class="table table-striped">

    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Author</th>
    <th>Status</th>
    </tr>
    {% for i in book %}
    <tr>
        <td>{{ i.bid }}</td>
        <td>{{ i.bname }}</td>
        <td>{{ i.bauthor }}</td>
        <td>{{ i.bstatus }}</td>
        <td>
            <a href="edit/{{ i.id }}">Edit</a>
        </td>
        <td>
            <a href="delete/{{ i.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}